@media screen and (max-width:1199px){.carousel-control{width:4%!important}.form_pane .form_wrap{max-width:21.8%}
    
.pro_bdr .panel {
    border: 1px solid #d0d0d0 !important;
    padding-bottom: 5px;
    width: 100%;
}  

.rightfilter .pro_bdr{width:50%;}


}

@media screen and (max-width:991px){
    .rightfilter .pro_bdr{width:100%;}
    
    .related_pro_di {
    margin-top: 11px;
    background-color: white;
    padding: 0px 0px 0px 10px;
}.form_pane .form_wrap{max-width:25%;margin-bottom:15px;padding-left:7px;padding-right:7px}.search_bar_form{text-align:center}.form_pane .form_wrap:last-child{float:none;margin:0 auto;max-width:120px;display:inline-block}.carousel-control{width:5.4%!important}#wrapper .btn{margin-bottom:0px;float:none}#wrapper #header .bottom .divider{padding:0 13px;color:#cdcdcd}.tit_sec .cheklist li{width:auto!important;background:0 0!important}.dvdr_none{padding:0;border:0;display:none!important}.fotr_link>li{width:32%!important;padding:6px 0;margin:3px;background:#292828!important}.fotr_link>li:hover{background:#f7af43!important;color:#fff!important}.fotr_link li:hover a{color:#222}#header .top{padding:11px 0 0}.addcartpage .cartbox li{min-height:190px}.log_bt{width:100%!important;margin-top:0!important;display:inline-block;border-top:0 solid #ddd;padding-top:18px}#wrapper #header .bottom .navbar-default{margin-top:-1px;padding-top:9px;border-top:1px solid #3c3c3c}.pro_img_hvr{margin-bottom:15px}.h_blog_box_inn .blog_text h4{font-size:15px}.content_area .about_cntnt{padding-bottom:0}.social_outer{position:initial}.mbm img{width:153px}}@media (max-width:767px){.crsl-item{margin-right:29px !important;}.about_cntnt p,p{text-align:left}#login_form .col-xs-6{width:43% !important;}.banner_main{padding-bottom:19px;}.h_blog_box_inn .top_img img,.pro_hover .pro_img_hvr img{max-height:100%}.form_pane .form_wrap{max-width:50%}.form-group{margin-bottom:15px;margin-right:17px}.carousel-control{display:none}.content_area .about_cntnt{padding-bottom:0;margin-top:8px}.about_cntnt p{padding-top:10px}.popupbox .p_wdth{margin-top:77px!important}.addcartpage .table td:first-child{overflow:auto}form .buttons-set{margin-top:1px!important;margin-left:0!important}.rightfilter{padding:8px 2px 0}.social_outer{position:initial}.fotr_link>li{width:48%!important}.social_outer:after{display:none!important}.h_p_main .battery2 h2{font-family:FuturaPT-Bold;font-size:43px}.h_p_main .battery2 h3{font-size:30px}.simp_left h2{font-size:37px}.h_blog_box_inn .blog_text h4{font-size:20px}.simp_right_img{display:none}.simp_dummy_main{height:auto}.simp_left{padding:51px 50px 51px 10%!important}.news_ltr{margin-top:0}.top_h_l_inn .h_social{float:none}.top_h_l_inn{float:none;text-align:center}.custom-search-input{margin-bottom:15px!important;margin-top:15px!important;width:75%!important;margin:0 auto;float:none}#navbar1{position:fixed;top:0;background:#131822;width:100%;right:0;height:50px;z-index:999999999}.navbar-toggle{margin:0!important}body{padding-top:50px}#wrapper #header .bottom .divider{display:none!important}.cart_fix{display:block;position:fixed;top:11px;z-index:9999999999}.h_cart a,.top_h_r_inn ul li,.top_h_r_inn ul li a{color:#fff}#header .bottom{min-height:0}.mr-right{display:none}#navbar1 .navbar-nav>li{float:none!important;display:block!important}.rewiewlist .panel::after,.rewiewlist .panel::before{position:absolute;display:block;content:'';width:0;height:0;transform:rotate(90deg)}.navbar-default .navbar-toggle{border-color:#ddd;margin-top:-1px!important;margin-right:21px!important}.mob_fotr,.mob_fotr p{text-align:center!important;margin:0!important;padding:4px 0 0!important}.copyright .pull-right{float:none!important}.copyright .gotop{right:0;left:0;margin:auto}.footer .copyright{padding:16px 0}.pro_img_hvr{margin-top:15px}.mob_cal,.mob_logo{float:none;text-align:center}.top .pull-right{float:none!important}.rewiewlist .panel::before{top:-28px;left:50%;border:inherit;border-width:14px;border-top-color:transparent;border-bottom-color:transparent;border-left-color:transparent;rotate:50deg}.rewiewlist .panel::after{top:-24px;left:50.5%;border:inherit;border-width:12px;border-color:transparent #FFF transparent transparent}.rewiewlist .leview{margin-bottom:24px}.newblog p{margin-left:12px}.newblog .well .imgbox{text-align:left}.p_txt p{margin-left:0!important}.addcartpage .cartbox li{min-height:inherit}.divider{display:none!important}#wrapper #header .bottom .nav>li{background:#f2f2f2;margin-bottom:2px}#wrapper #header .bottom .nav>li>a{color:#7b7878;padding-left:15px}#header .bottom .dropdown-menu{background:0 0}.lightbox .content .inner .image,.lightbox .content .inner .title{width:55%}.popupbox .modal-content1{width:100%;height:auto;padding:33px 0 33px 1px;float:left;background-color:#dae0e0;background-image:none;margin-top:35px}.modal-content1 .close{right:-26px;top:-181px}.reviewleft .imgbox{margin:inherit;float:left}.ul_lft{margin-left:14px}.reviewright{margin-top:35px}.cart_mob{display:block}.cart_desk{display:block;padding-left:15px !important;}.cart_mob .table-bordered>thead>tr>th,.table-bordered>thead>tr>td{background:#f1f1f1;font-size:14px;color:#666;font-family:Lato,sans-serif;font-weight:400}.cart_mob .table-bordered>thead>tr>th,.table-bordered>tbody>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td{text-align:center;line-height:36px!important;border:1px solid #ddd!important;padding:0 0px 10px}.cart_mob .imgbox img{width:auto;height:80px;overflow:hidden;float:left;padding:7px;margin-bottom:15px;margin-top:10px}.rmv_img{float:none;margin-left:0}.f_left{float:none !important;}.orderview .modal-dialog{width:auto}#header .bottom .dropdown-menu>li{border-bottom:3px solid #FFF}.mmt{margin-top:15px!important}.cart_mob .textt{display:block;width:317px}#wrapper #header .bottom .navbar-default .navbar-collapse,.navbar-default .navbar-form{background:#fff}.h_p_main{padding:40px 0 14px}.h_p_head{margin-bottom:23px}.pro_img_hvr{margin-bottom:0}.fetu_pro_main{width:100%;padding:20px 15px 15px}.abt_info p{width:100%}.pro_hover_new{margin-bottom:12px}}@media screen and (max-width:479px){.about_txt{padding-top:0!important}.fotr_link>li{width:100%!important}.social{text-align:center;margin:0 0 18px!important}.social_outer:after{top:545px!important}.h_p_main{padding:40px 0 14px}.h_p_head{margin-bottom:23px}.pro_img_hvr{margin-bottom:0}.fetu_pro_main{width:100%;padding:20px 15px 15px}}@media screen and (max-width:340px){.navbar-default .navbar-toggle{margin-right:8px!important}.cart_fix{left:0}}@media (min-width:768px){.cart_mob{display:none}.cart_desk{display:block;}}@media (min-width:768px) and (max-width:820px){.nwltr_btn{margin-left:29%}.popupbox .modal-content1{background:url(../images/pop-bg.jpg) -146px -16px no-repeat}}@media (min-width:821px) and (max-width:991px){.nwltr_btn{margin-left:32%}.popupbox .modal-content1{background:url(../images/pop-bg.jpg) -129px -16px no-repeat}}@media (min-width:861px) and (max-width:991px){.popupbox .modal-content1{background:url(../images/pop-bg.jpg) -55px -16px no-repeat}}@media (min-width:992px) and (max-width:1119px){.popupbox .p_wdth{width:67%}.sp_cat h2{font-size:14px}.categopanel .bcatpa .imgbox{width:117px;height:auto;overflow:hidden}}@media (min-width:992px) and (max-width:1199px){.zoomWindow{margin-left:250px!important}.buynow_section .detailtab .nav>li>a{padding:9px 21px!important}.pro_detail_adbtn{margin-left:5px}.input-box{width:72%}.block:not(.block-banner){padding-bottom:0}.addcartpage .cartbox .imgbox img{float:left}.rmv_img{margin-left:14px}.grd_total h3{text-align:center}.grd_total h3 strong{width:100%;margin-top:15px}.mayaccount .p-one{padding:15px 3px!important}.div2 .col-xs-12{padding:0!important}.header_right ul{margin-left:12%}.header_right ul li{margin-bottom:10px}.sign_discnt h2{font-size:23px}.sign_discnt{padding:15px 0 0}.sign_discnt h3{margin-top:15px;font-size:48px}.sign_discnt h4 img{width:14%}.sign_discnt h4{padding:9px 0;margin:40px 2px 0 1px}#custom-search-input{width:82%}.at_gallery_txt_top{width:91%}}@media (min-width:970px) and (max-width:991px){.popupbox .modal-content1{width:98%}}@media (min-width:1017px) and (max-width:1119px){.popupbox .modal-content1{width:91%}}@media (min-width:1215px) and (max-width:1270px){.popupbox .modal-content1{width:95%}}@media (min-width:1120px) and (max-width:1270px){.nwltr_btn{margin-left:33%}.popupbox .modal-content1{background:url(../images/pop-bg.jpg) -126px -16px no-repeat}}@media (min-width:375px) and (max-width:480px){.nwltr_btn{margin-left:29%}.w_dsk{width:82%}.zoomproduct #gallery_01 img{width:60px;height:54px;border:4px solid #eee;overflow:hidden}}@media (min-width:481px) and (max-width:620px){.zoomproduct #gallery_01 img{width:80px;height:62px;border:4px solid #eee;overflow:hidden}}@media (min-width:621px) and (max-width:767px){.zoomproduct #gallery_01 img{width:105px;height:80px;border:4px solid #eee;overflow:hidden}}@media (min-width:621px) and (max-width:1199px){#wrapper .curncy_list ul li a{padding-left:0}#wrapper .curncy_list .btn{padding-left:17px}}@media (min-width:300px) and (max-width:374px){.simp_left h2{font-size:30px}.news_ltr h2{font-size:31px}.news_ltr h2 small{font-size:13px}.nwltr_btn{margin-left:28%}.new_ltrs h4{font-size:26px}.new_ltrs p{padding:0 10px}.modal-content1 .close{top:-199px}.w_dsk{width:72%}.zoomproduct #gallery_01 img{width:48px;height:44px;border:4px solid #eee;overflow:hidden}.buynow_section .starbox .list-inline li{float:left}.content_area h1{font-size:23px}}@media (min-width:992px) and (max-width:1199px){.social_outer:after{border:1px solid #E5E5E5;position:absolute;content:"";top:166px;width:100%;right:0;height:1px;z-index:1}.imgbx2,.imgbx5{width:100%;position:relative;overflow:hidden}.sign_discnt{padding:30px 0}.news_ltr h2{font-size:32px}.news_ltr h2 small{font-size:13px}.imgbx2{max-height:299px}.imgbx5{max-height:327px}#custom-search-input{width:82%}.zoomproduct #gallery_01 img{width:84px;height:67px;border:4px solid #eee;overflow:hidden}.zoomWindow{width:510px!important;height:500px!important;margin-left:30px!important}.dis_pro .col-md-3{width:18%!important;margin-left:10px}}@media (min-width:768px) and (max-width:991px){.social_outer:after{border:1px solid #2d2d2d;position:absolute;content:"";top:307px;width:100%;right:0;height:1px;z-index:1}.imgbx2,.imgbx5{width:100%;overflow:hidden;position:relative}.pro_name h3{font-size:20px}.pro_name p,.sp_cat h2{font-size:13px}.imgbx2{max-height:222px}.imgbx5{max-height:248x}.order-details p{padding:0 15px!important;width:93px}.ful_p{width:100%!important}.pro_name_new h3{padding-bottom:18px}}@media (min-width:300px) and (max-width:374px){.social_outer:after{border:1px solid #E5E5E5;position:absolute;content:"";top:210px;width:100%;right:0;height:1px;z-index:1}.buynow_section h4{font-size:21px}}@media (min-width:375px) and (max-width:382px){.social_outer:after{border:1px solid #E5E5E5;position:absolute;content:"";top:210px;width:100%;right:0;height:1px;z-index:1}}@media (min-width:383px) and (max-width:479px){.social_outer:after{border:1px solid #E5E5E5;position:absolute;content:"";top:188px;width:100%;right:0;height:1px;z-index:1}}@media (max-width:415px){.buynow_section .detailtab .nav>li{border-right:1px solid #ddd;border-bottom:0;width:100%;background:#eee;text-align:center}.buynow_section .detailtab .tab-content{padding:10px 19px}}@media (min-width:416px) and (max-width:520px){.buynow_section .detailtab .nav>li{border-right:1px solid #ddd;border-bottom:0;width:49%;background:#eee;text-align:center;margin-left:2px}.buynow_section .detailtab .tab-content{padding:10px 19px}}@media (min-width:521px) and (max-width:605px){.buynow_section .detailtab .nav>li>a{padding:9px 25px}}@media (max-width:480px){.buttons-set,.discount-form{text-align:center}.zoomproduct .imgbox img{width:auto!important;height:auto!important;max-width:475px;max-height:261px;margin:auto;text-align:center;vertical-align:center;display:table-cell;position:relative!important}.input-box{float:none;margin:10px 0;width:100%!important}.buttons-set{width:100%}.cartbox .col-sm-2{background:none}}@media (min-width:480px) and (max-width:503px){.social_outer:after{border:1px solid #E5E5E5;position:absolute;content:"";top:188px;width:100%;right:0;height:1px;z-index:1}.w_dsk{width:82%}}@media (min-width:504px) and (max-width:529px){.social_outer:after{border:1px solid #E5E5E5;position:absolute;content:"";top:166px;width:100%;right:0;height:1px;z-index:1}.w_dsk{width:83%}}@media (min-width:530px) and (max-width:677px){.social_outer:after{border:1px solid #E5E5E5;position:absolute;content:"";top:166px;width:100%;right:0;height:1px;z-index:1}.w_dsk{width:85%}}@media (min-width:481px) and (max-width:767px){.related_pro_di .col-xs-12,.rightfilter .prodboxlist .col-xs-12{width:50%}.addcartpage .cartbox h4 small{font-size:14px;margin-bottom:5px}.cartbox .col-sm-2{width:100%;background:none;border-top:1px solid #ccc;}.addcartpage .cartbox li{min-height:130px!important}.pro_detail_adbtn{margin:0!important}.addcartpage .cartbox .imgbox{width:138px;height:82px}.addcartpage .cartbox .imgbox img,.addcartpage .cartbox .textt{float:left}.addcartpage .cartbox li:first-child{border-right:0}}@media (min-width:481px) and (max-width:533px){.pro_detail_adbtn{margin-left:22px!important;margin-top:-12px!important}}@media (min-width:678px) and (max-width:767px){.social_outer:after{border:1px solid #E5E5E5;position:absolute;content:"";top:166px;width:100%;right:0;height:1px;z-index:1}.w_dsk{width:88%}}@media (max-width:991px){.mayaccount .nav>li>a small,.zoomContainer,.zoomLens{display:none}.sign_discnt{padding:45px 0;margin-top:15px}.p-two,.pd_n{padding-left:0!important}.input-box{width:71%}.news_ltr .news_txt{text-align:center!important;margin-bottom:15px}.buynow_section h4{margin-top:27px!important}.chk_out{margin-top:1%}.pd_n{padding-right:0!important;width:90%!important;margin-bottom:26px!important;margin-left:16px}.pro_detail_adbtn{margin-left:12px}.mayaccount .p-one{min-height:inherit}.mayaccount .nav>li>a big{font-size:18px}#trader_login{margin-bottom:50px}.splr_fld{margin-left:0!important}}@media (max-width:479px){.carousel-caption h3,.carousel-caption p{font-size:30px!important}.carousel-caption{padding-top:5px!important;top:2px!important}.carousel-control{display:none}.pro_name h3{font-size:20px}#wrapper .about_cntnt>h1{color:#252927;font-size:23px}.pro_name p{font-size:12px}}@media (min-width:300px) and (max-width:359px){.fotr_link li{width:100%;background:#f2f2f2;float:left;margin:3px;padding:7px 0}.chk_out .btn-sm{margin-bottom:5px;width:100%}.social_outer:after{top:497px}.dvdr_none{display:none!important}.cart_bt{width:81%!important}.abt_info p{width:90%}}@media (min-width:361px) and (max-width:440px){.cart_bt{width:84%!important}.abt_info p{width:90%}}@media (max-width:500px){#trader_signup .form-group .col-xs-3,#trader_signup .form-group .col-xs-9{width:100%}#trader_signup .form-group .col-xs-offset-3{margin-left:0}}@media (min-width:441px) and (max-width:500px){.cart_bt{width:87%!important}.abt_info p{width:90%}}@media (min-width:501px) and (max-width:632px){.cart_bt{width:89%!important}}@media (min-width:633px) and (max-width:767px){.cart_bt{width:91%!important}}@media (min-width:360px) and (max-width:610px){.fotr_link li{width:48%;background:#f2f2f2;float:left;margin:3px;padding:7px 0}.social_outer:after{top:332px}.dvdr_none{display:none!important}}@media (max-width:400px){#wrapper .wid50{width:100%}.service li .latest{width:auto;height:auto;margin:auto}#wrapper .service .latest figure{height:200px}#wrapper .service .latest figure img{min-height:180px;width:100%;height:auto;overflow:hidden}.box h3{font-size:15px;width:170px}}@media (max-width:390px){.col-xs-6{width:100%!important;padding-left:15px!important;padding-right:15px!important}}@media (min-width:361px) and (max-width:520px){.service .wid50{width:50%}.service .latest figure{height:180px}.service .latest figure img{min-height:180px;width:100%;height:auto;overflow:hidden}.box h3{font-size:15px;width:170px}}@media (min-width:520px) and (max-width:600px){#wrapper .wid50{width:48%}.service .latest figure{height:180px}.service .latest figure img{min-height:180px;width:100%;height:auto;overflow:hidden}.box h3{font-size:14px;width:170px}}@media (min-width:521px) and (max-width:767px){.service .wid50{width:33%}.service .latest figure{height:180px}.service .latest figure img{min-height:180px;width:100%;height:auto;overflow:hidden}.box h3{font-size:14px;width:170px}}@media (min-width:768px) and (max-width:992px){.service .wid50{width:25%}.service .latest figure{height:150px;overflow:hidden;position:relative}.service .latest figure img{min-height:150px;height:150px;overflow:hidden}.box h3{font-size:14px;width:150px}.pd_n{width:95.5%!important}}@media (min-width:993px) and (max-width:1200px){.service .latest figure{height:200px;overflow:hidden;position:relative}.service .latest figure img{min-height:200px;height:200px;overflow:hidden}.box h3{font-size:17px;width:200px}}@media (max-width:1199px){#header .top{position:relative}.mob_logo{text-align:center;z-index:99}.header_right ul{float:none;text-align:center}.header_right{text-align:center;margin-top:25px}}@media (max-width:991px){.tab_viw{display:block}.desk_viw{display:none}.mr-right{margin-top:10px!important}.inner_banner,.inner_banner_cnt{background:url(../images/about-banner.jpg) center center no-repeat #fff;width:100%;height:auto;background-size:cover}.about_txt h2{font-size:21px}.about_txt small{font-size:12px}.about_txt{text-align:center;margin:auto;padding-top:22px;padding-bottom:23px}#custom-search-input{width:90%}.adres{margin-top:35px}.mob_mr{margin-top:50px!important}.mob_fw{width:100%!important;padding-right:0!important;padding-left:0!important}}@media (min-width:992px){.tab_viw{display:none}.desk_viw{display:block}}@media (min-width:768px) and (max-width:991px){.mr-right{float:none!important;margin:auto}#header .bottom .navbar-nav{display:inline-block;float:none}.popupbox .p_wdth{width:70%}}@media (min-width:620px) and (max-width:740px){.cpn_btn,.cpn_btn:hover{padding:7px 11px!important}.input-box{width:75%}form .buttons-set{margin-top:0!important;margin-left:14px}}@media (min-width:481px) and (max-width:619px){.cpn_btn,.cpn_btn:hover{padding:7px 11px!important}.input-box{width:64%}form .buttons-set{margin-top:0!important;margin-left:14px}}@media (max-width:620px){form .buttons-set{float:left;margin-top:10px}.block:not(.block-banner){padding-bottom:27px}.chk_out{background:0 0;border-top:0}.logo{margin-bottom:10px}.panel-group .panel-heading a:after{content:'-';top:5px;font-size:30px;position:absolute;right:8px;margin-top:8px}.panel-group .panel-heading a.collapsed:after{content:'+';font-size:26px;color:#484848;position:absolute;right:6px;margin-top:8px}}@media (min-width:320px) and (max-width:375px){.all_ctg .col-xs-12,.mob_ctg .col-xs-12{width:100%}.sp_cat h2{font-size:14px}.chk_btn .btn-warning{padding:8px 12px}}@media (min-width:376px) and (max-width:560px){.mob_ctg .col-xs-12{width:50%}.sp_cat h2{font-size:13px}.all_ctg .col-xs-12{width:80%}}@media (min-width:561px) and (max-width:767px){.mob_ctg .col-xs-12{width:33%}.sp_cat h2{font-size:13px}.all_ctg .col-xs-12{width:50%}}@media (min-width:600px) and (max-width:767px){.lightbox-container .col-md-3{width:33%}}@media (max-width:400px){.popupbox .p_wdth{width:92%;margin:30px auto auto;margin-right:3%!important;margin-left:3%!important}.form_pane .form_wrap{max-width:100%}}@media (min-width:401px) and (max-width:767px){.popupbox .p_wdth{width:80%!important;margin:auto!important; margin-top:77px !important;}}@media (min-width:601px) and (max-width:991px){.header_right ul li .call,.header_right ul li .curncy_img,.header_right ul li .la_cnvrt{width:30%;margin:0}.header_right ul li{float:none;display:inline-block}.header_right ul li:nth-child(3n+3){border-right:none}.curncy_img a{margin-bottom:-7px}}@media (min-width:601px) and (max-width:767px){.logo{margin-bottom:15px}}@media (max-width:450px){.popupbox .modal-body h6{float:none!important;width:100%!important;text-align:left!important;padding-left:0}.grd_total h3{text-align:center}.grd_total h3 strong{width:100%;margin-top:15px}}@media (max-width:620px){.header_right ul{margin-top:15px}.header_right ul li:last-child{margin-top:0;padding:15px 0;margin-left:-8px!important}.header_right ul li{float:none;display:inline-block;border-right:none!important;width:98%;border-bottom:4px solid #fff;padding:12px 0;background:#f5f5f5;margin-left:-1px!important}#wrapper .curncy_list ul li{border-bottom:0!important;padding:0!important;background:0 0!important}#wrapper .curncy_list ul li a{padding-left:0!important}#wrapper .curncy_list .btn{background-color:#e7e7e7;padding-left:17px}}@media (min-width:1200px){.rightfilter .col-lg-4{width:33.2%}}@media (min-width:540px) and (max-width:767px){.dis_pro .col-xs-12{width:29%!important;margin-left:20px}}@media (max-width:580px){.battery2,.battery3{display:none}}@media (min-width:375px) and (max-width:539px){.dis_pro .col-xs-12{width:44%!important;margin-left:20px}}@media (min-width:375px){.dsk_bit{display:block}.mob_bit{display:none}}@media (max-width:374px){.dsk_bit{display:none}.mob_bit{display:block}.mob_bit span{line-height:28px}}@media (min-width:320px) and (max-width:480px){.cat_list .col-xs-12,.sub_ctg_list .col-xs-12{width:100%} .simp_left h1 {
    font-family: 'Oswald',sans-serif;
    font-weight: 200;
    font-size: 31px;}.carousel-caption h3, .carousel-caption p {
    font-size: 21px!important;
    font-weight: 600 !important;
    color: #fff !important;
    margin: 10px 0px;
}}@media (min-width:481px) and (max-width:767px){.cat_list .col-xs-12{width:50%;float:left}}@media (min-width:320px) and (max-width:479px){.at_gallery_top img{width:100%}.at_gallery_txt_top{width:91%}}@media (min-width:320px) and (max-width:360px){#wrapper .btn,.pop_sign{margin-bottom:0px}.fetu_pro_main h2{    font-size: 24px;}.at_gallery_txt_top{width:91%}#login_form span{padding-left:0!important}#wrapper .btn{float:none}}@media (min-width:361px) and (max-width:480px){.at_gallery_txt_top{width:94%}}@media (min-width:481px) and (max-width:767px){.at_gallery_txt_top{width:94%}}@media screen and (max-width:542px) and (min-width:472px){.buynow_section .buyb ul{margin-top:18px}}@media screen and (max-width:450px){.popupbox .modal-body{position:relative;height:286px;overflow-x:hidden!important;overflow:auto}}
@media screen and (max-width:415px){
    #login_form .col-xs-6 {
    width: 100% !important;
    text-align: left;
}
}
@media screen and (max-width:546px) and (min-width:400px){
    .crsl-item .thumbnail img
    {
        min-height: 140px;
    max-height: 140px;
    object-fit: cover;
    }
}

@media screen and (max-width:767px){
    .cart_mob{display:none !important;}
    
    .content_area .about_cntnt {
    padding: 0px;
    margin-top: 20px;
}
 .cart12 h1 {
    width: 93%;
    margin: 0px auto !important;
}
.cart_mob .imgbox img
{
    display:none;
}
.table-responsive>.table>tbody>tr>td
{
    white-space: normal !important;
}
.cart_mob .textt {
    width: auto;
}
.cart_mob table th
{
    display:none;
    
}

.cart_mob table td
{
    display:block;
    padding:0px 0px 10px !important; 
    
}
.cart_lebel h4{
    margin: 0px;
    background:#f5f5f5;
    margin-bottom:10px !important;
    padding: 11px 0px !important;
}

.cart_lebel{
    display:block;
}

.pro_detail_adbtn.pro_detail_adbtn
{
        width: 9%;
    margin: 0px auto !important;
}

.ship_add_right{
    padding-left:0px !important;
    padding-right:0px !important;
}

.ship_add_left{
    padding-left:0px !important;
    padding-right:0px !important;
}

.product_details_t_main .imgbox img
{
    display:none;
}

.product_details_t_main table th
{
    display:none;
    
}

.product_details_t_main table td 
{
    display:none;
    
}
.product_details_t_main table td
{
    display:block;
    
}

.ordertab tr td .img25
{
    min-height:60px !important;
}

.ordertab tr td
{
    padding:0px 0px 10px !important ;
    text-align:center !important;
}

.ordertab tr td p
{
    text-align:center !important;
}

.ordertab tbody .orto td {
    font-size: 22px!important;
}
.bordr_n
{font-size: 22px!important;
    
}
.order-details .ordertab img
{
    float:none;
}

.list-inline .pro_detail_adbtn.pro_detail_adbtn{
    width:auto !important;
}
.cart_mob .textt {
    width: auto;
    font-size: 17px;
    padding: 0px 8px;
    line-height: 31px;
}
.cart_mob .textt a{

}

.addcartpage .cartbox{
    padding:0px 0px;
}
.addcartpage .cartbox .imgbox {
    width: 100%;
    margin-bottom: 11px;
}
.addcartpage .cartbox li:nth-child(n) {
    border-right: solid 1px #ddd;
    padding: 0px 0px 13px;
}
.addcartpage .cartbox .imgbox img, .addcartpage .cartbox .textt {
    float: none !important;
}
.pro_detail_adbtn .spinner
{
    float:none;
    width:100%;
    
}
}
@media screen and (min-width:1199px){
    .carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 1;
    height: 504px !important;
}
}
@media screen and (max-width:1199px){
    .carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 1;
    object-fit:cover;
    height: 420px !important;
}
}
@media screen and (max-width:991px){
    .carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 1;
    height: 371px !important;
}
}

@media screen and (max-width:767px){
    .carousel-caption h3
    {
        font-size: 30px!important
    }
    .carousel-caption p
    {
           font-size: 30px!important;
    }
     .carousel-inner>.item>a>img, .carousel-inner>.item>img {
    height: 312px !important;
}   
}

@media screen and (max-width:596px){
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    height: 242px !important;
    object-fit: cover;
    object-position: bottom;
}
.carousel-caption {
    padding-top: 5px!important;
    top: 1px!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carousel-caption h3{
    margin:0px;
}
}

@media screen and (max-width:479px){
 .carousel-caption h3 {
    font-size: 20px!important;
    margin-bottom: 5px;
}
.carousel-caption p {
    font-size: 18px!important;
    line-height: 23px;
    margin-top:6px;
    font-weight: normal !important;
}
}
@media screen and (max-width:420px){
    .pro_detail_adbtn.pro_detail_adbtn
{
        width: 20%;
    margin: 0px auto !important;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    height: 173px !important;
}
}

@media screen and (max-width:991px) and (min-width:768px){
    .top_h_l{
        padding:0px !important;
    }
    .log_bt a {
    margin: 0;
    padding: 0 0px;
    font-family: 'FuturaPT-Medium';
    font-size: 10px;
    color: #464646;
    
    transition: all ease 0.5s;
}
  .log_bt{
padding-top: 0;
}
    .log_bt span{
    font-weight: 700 !important;
    font-size: 10px !important;
    }
}
@media screen and (max-width:767px) and (min-width:320px){
   .log_bt {
    padding-top: 0;
} 
.aff_menu {
    display: flex;
    padding: 3px 0px 0px;
    height: 28px;
    align-items: center;
    justify-content: center;
}
}